:host{
  display: block;
  margin-top: 1rem;
}
.info-text{
  text-align: center;
}
h3{
  text-align: center;
  margin: 3rem auto;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;

}

textarea{


}
