<!--
<mat-accordion>
  <mat-expansion-panel *ngFor="let group of tasks|keyvalue">
    <mat-expansion-panel-header  *ngFor="let task of group.value">
    <div>
      {{task.title}}
    </div>
    {{task.content}}
    </mat-expansion-panel-header>

    <mat-action-row>
      <button (click)="UpdateTask()" color="primary" mat-button>Update</button>
      <button  (click)="deleteTask()" color="accent" mat-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion> -->
<!-- <p class=" info-text mat-body-1" *ngIf="tasks.length <= 0">No Post added yet</p> -->

<!-- CARD -->
<h3>TASK LIST</h3>
<mat-accordion *ngFor="let group of tasks|keyvalue">
  <mat-expansion-panel  *ngFor="let task of group.value">
    <mat-expansion-panel-header>
     {{task.title}}
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
    {{task.content}}
    <mat-action-row>
      <button  (click)="UpdateTask(task.title, content)" mat-button>Update </button>
      <mat-form-field>
        <textarea matInput  rows="6" name="content" [(ngModel)]="content" required minlength="5" placeholder="Enter content.."> </textarea>

      </mat-form-field>

      <button  (click)="DeleteTask(task.title)" color="accent" mat-button>Delete</button>




    </mat-action-row>
    </ng-template>

  </mat-expansion-panel>

</mat-accordion>

