
<mat-accordion *ngIf="tasks.length > 0">
  <mat-expansion-panel *ngFor="let task of tasks">
    <mat-expansion-panel-header>
      {{task.title}}
    </mat-expansion-panel-header>
    {{task.content}}
    <mat-action-row>
      <button (click)="UpdateTask()" color="primary" mat-button>Update</button>
      <button  (click)="deleteTask()" color="accent" mat-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<p class=" info-text mat-body-1" *ngIf="tasks.length <= 0">No Post added yet</p>
